#calendar-container {
    width: 65%;
    margin: 0 auto;
    padding: 3rem;
    background: #ffffff;
    border-radius: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}